.primary
{
	@extend %normal;
	background-color: #8bc34a;
	color: #FFFFFF;
	border: 1px solid #8bc34a;

}

.primaryhover
{
	@extend %normal;
	background-color: #9dce5d;
	color: #FFFFFF;
	border: 1px solid #9dce5d;
}

.primarydisabled
{
	@extend %normal;
	background-color: #eeeeee;
	color: #999999;
	border: 1px solid #eeeeee;
}

.secondary
{
	@extend %normal;
	background-color: #FFFFFF;
	color: #2095f2;
	border: 1px solid #2095f2;
}

.secondaryhover
{
	@extend %normal;
	background-color: #2095f2;
	color: #FFFFFF;
	border: 1px solid #2095f2;

}

.secondarydisabled
{
	@extend %normal;
	background-color: #ffffff;
	color: #999999;
	border: 1px solid #cccccc;
}