/* line 1, ../sass/modules/_buttons.scss */
.primary {
  background-color: #8bc34a;
  color: #FFFFFF;
  border: 1px solid #8bc34a;
}

/* line 10, ../sass/modules/_buttons.scss */
.primaryhover {
  background-color: #9dce5d;
  color: #FFFFFF;
  border: 1px solid #9dce5d;
}

/* line 18, ../sass/modules/_buttons.scss */
.primarydisabled {
  background-color: #eeeeee;
  color: #999999;
  border: 1px solid #eeeeee;
}

/* line 26, ../sass/modules/_buttons.scss */
.secondary {
  background-color: #FFFFFF;
  color: #2095f2;
  border: 1px solid #2095f2;
}

/* line 34, ../sass/modules/_buttons.scss */
.secondaryhover {
  background-color: #2095f2;
  color: #FFFFFF;
  border: 1px solid #2095f2;
}

/* line 43, ../sass/modules/_buttons.scss */
.secondarydisabled {
  background-color: #ffffff;
  color: #999999;
  border: 1px solid #cccccc;
}

/* line 1, ../sass/base/_baseclass.scss */
.primary, .primaryhover, .primarydisabled, .secondary, .secondaryhover, .secondarydisabled {
  border-radius: 3px;
  padding: 12px 15px 12px 15px;
  min-width: 110px;
  font-family: "SegoeUI SemiBold";
  font-size: 16px;
}
