@mixin normal($backgroundcolor:#ffffff,$border:1px solid #ccc,$color:#666666){
	border-radius: 3px;
	width:300px;
	height:36px;
	font-style:SegoUI;
	font-size:13px;
	padding-left:10px;
	background-color:$backgroundcolor;
	border:$border;
	color:$color;
}
.disabled
{
	@include normal(#eeeeee,1px solid #cccccc,#999999);
	cursor: not-allowed;
}

.error{
	@include normal(#fde7e1,1px solid #f44336,#f44336);
}

.normal{
	@include normal;
}