#addbook,#addauthor {
    margin-left:10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    margin-top: 10px;
    background-image: url("../images/images_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.textheader{
    color:white;
}

.headings {
    color:cadetblue;
    font-weight: bold;
}

.home {
    background-color:azure;
    margin-top: 20px;
}

#homebutton {
    margin-top: 15px;
}

.buttons {
    margin-bottom: 20px;
    margin-right: 10px;
}

.alignment {
    margin-left: 130px;
}

.getlist>button,img {
    margin : 30px auto 0 auto;
    display:block;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carouselcontainer {
    margin-top: 50px;
}
