#addbook,#addauthor {
    margin-left:10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    margin-top: 10px;
    background-color:darkgray;
}

.headings {
    color:cadetblue;
    font-weight: bold;
}

.home {
    background-color:bisque;
    
}
#homebutton {
    margin-top: 15px;
}
